.form-container {
  padding-block: 5rem;
}
input {
  color: white;
  font-size: 2rem;
  border: 3px var(--cyan) solid;
  border-radius: 0.5rem;
  display: block;
  margin-block: 3rem;
  padding: 0.7rem 1rem;
}
.submit {
  cursor: pointer;
}
.submit:hover {
  color: var(--black);
  background-color: var(--cyan);
  transition: 0.3s;
}
.message-box {
  height: 300px;
}
.textarea {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 3px var(--cyan) solid;
  border-radius: 0.5rem;
  display: block;
  margin-block: 3rem;
  padding: 0.7rem 1rem;
}
.green {
  background-color: green;
  border: 4px var(--black) solid;
  color: var(--black);
}
.green:hover {
  background-color: green;
  border: 4px var(--black) solid;
  color: var(--black);
}
.pop-up {
  position: absolute;
  border: 4px var(--cyan) solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 5rem;
  border-radius: 25px;
  box-shadow: 8px 8px 24px 0px rgb(29, 30, 31);
  z-index: 2;
}
.pop-up-message {
  background: transparent;
}
.pop-up-hide {
  z-index: -1;
}
@media screen and (max-width: 767px) {
  input {
    font-size: 1rem;
  }
  .textarea {
    font-size: 1rem;
  }
}
.on-submit-animation {
  -webkit-animation: slide-out-blurred-right 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-right 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}
@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
